#nameOfWebsite
{
    text-align: center;
    font-size: 225%;
    font-family: 'Bad Script', cursive;
}

#admin
{
   position: absolute;
   top: 8px;
   right: 16px; 
   font-size: 100%;
}

img
{
    height: 75%;
    width: 75%;
}

#rock
{
    width: 70%;
    margin: auto; 
}
body
{
    background-color: rgb(236, 229, 255);
}

